body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #dee3ea;
  background-color: #0b0e11;
}

.home-header {
  width: 100%;
  height: 100vh;
}

.center {
  display: grid;
  place-items: center;
}

.cc {
  display: grid;
  place-items: center center;
  height: 100vh;
  margin: 0;
}

.bgWrap {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: -1;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0b0e11;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  background-color: #0b0e11;
}
.close-button:hover {
  background-color: #0b0e11;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

.text-shadow {
  text-shadow: 2px 2px 100px #0b0e11;
}